<div>
    <!--    <div class="search__wrapper">-->
    <!--    </div>-->

    <div class="panel_main list__wrapper">
        <div class="list__tools">
            <div class="left">
                <el-button type="primary" @click="openAddWin" icon="el-icon-circle-plus">添加</el-button>
                <el-button @click="stopUsing" type="warning">停用</el-button>
                <el-button @click="startUsing" type="success">启用</el-button>
            </div>
            <div class="right">
                <el-form :model="query" :inline="true">
                    <el-input v-model="query.content" class="input-350" placeholder="请输入ip或账号搜索"></el-input>
                    <el-button type="primary" @click="searchData" icon="el-icon-search">搜索</el-button>
                    <el-button @click="resetQuery">清空</el-button>
                </el-form>
            </div>
        </div>

        <el-table :data="list" ref="listData" class="list__data" @selection-change="selectListRow" highlight-current-row
                  v-loading="loading.list">
            <el-table-column type="selection" width="50">
            </el-table-column>
            <el-table-column type="index" label="序号" align="center" width="70"></el-table-column>
            <el-table-column prop="content" label="Ip/账号" min-width="180" show-overflow-tooltip></el-table-column>
            <el-table-column prop="gmtCreate" label="创建时间" min-width="150">
                <template slot-scope="scope">{{ scope.row.gmtCreate | dateTime }}</template>
            </el-table-column>
            <el-table-column label="状态" min-width="100">
                <template slot-scope="scope">
                    <span v-if="scope.row.status == 1" class="green">正常</span>
                    <span v-if="scope.row.status == 2" class="orange">停用</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" min-width="150">
                <template slot-scope="scope">
                    <el-button @click="openModifyWin(scope.row.id)" type="success" icon="el-icon-edit">修改
                    </el-button>
                    <el-button @click="remove(scope.row.id)" type="danger" icon="el-icon-delete-solid">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination class="list__page"
                       @size-change="pageSizeChange"
                       @current-change="currentPageChange"
                       :current-page="query.pageNo"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="query.pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="this.page.recordCount">
        </el-pagination>

    </div>

    <el-dialog title="添加黑名单" :visible="showAddWin" width="40%" :close-on-click-modal="false"
               :close-on-press-escape="false" :before-close="closeAddWin">
        <el-form :model="addModel" :rules="rules" ref="addForm" >
            <el-form-item prop="contentsAdd">
                <el-input v-model="addModel.contentsAdd" type="textarea" :rows="8">
                </el-input>
            </el-form-item>
            <ul class="msg">
                <li>1、黑名单可配置用户账号或IP</li>
                <li>2、多个黑名单之间用逗号","隔开，或另启一行</li>
                <li>3、IP地址支持通配符配置，如：192.168.0.*, 202.101.*</li>
                <li>4、IP地址支持ip段配置，如：192.168.1.0-192.168.1.10, 192.168.1.20-192.168.1.50</li>
            </ul>
        </el-form>
        <div slot="footer">
            <el-button @click="closeAddWin">取 消</el-button>
            <el-button type="primary" @click="submitAdd" v-loading="loading.add">确 定</el-button>
        </div>
    </el-dialog>

    <el-dialog title="修改" :visible="showModifyWin" width="25%"
               :close-on-click-modal="false" :close-on-press-escape="false" :before-close="closeMofifyWin">
        <el-form :model="modifyModel" :rules="rules" ref="modifyForm" v-loading="loading.modifyWin">
            <el-form-item prop="content">
                <el-input v-model="modifyModel.content"></el-input>
            </el-form-item>
            <el-input v-model="modifyModel.id" type="hidden"></el-input>
        </el-form>
        <div slot="footer">
            <el-button @click="closeMofifyWin">取 消</el-button>
            <el-button type="primary" @click="submitModify" v-loading="loading.modify">确 定</el-button>
        </div>
    </el-dialog>
</div>
