<div id="container" >
    <div id="container_banner">
        <div class="banner-left">
            <h1>XXX管理系统</h1>
        </div>
        <div class="banner-right">
            <el-button type="text" @click="logout" icon="el-icon-circle-cross">退出</el-button>
        </div>
    </div>

    <!-- 左侧菜单栏 -->
    <div id="container_sidebar">
        <div id="menu_toggle" @click="leftFold()">
            <i :class="{'el-icon-arrow-right':isCollapse,'el-icon-arrow-left':!isCollapse}"></i>
        </div>
        <el-menu id="container_menu"
                default-active="2"
                :collapse="isCollapse" >

            <el-menu-item v-for="menu in menus" :index="menu.routerName" :key="menu.routerName" @click="jump(menu)">
                <i :class="menu.icon"></i>
                <span slot="title">{{menu.text}}</span>
            </el-menu-item>
        </el-menu>
    </div>
    <!--右侧内容区-->
    <div id="container_content" :class="{'collapse':isCollapse}">
        <div id="container_content_title">
            <h2>{{pageTitle}}</h2>
        </div>
        <router-view></router-view>
    </div>
</div>
