<el-container>
    <el-header>
        <div style="margin-left: 96%;" @click="logout"><i class="el-icon-circle-cross"></i> 退出</div>
    </el-header>

    <el-container>
        <el-aside width="200px">
            <el-menu
                    default-active="2"
                    class="el-menu-vertical-demo"
                    background-color="#545c64"
                    text-color="#fff"
                    active-text-color="#ffd04b">

                <el-menu-item v-for="menu in menus" :index="menu.routerName" :key="menu.routerName" @click="jump(menu)">
                    <i :class="menu.icon"></i>
                    <span slot="title">{{menu.text}}</span>
                </el-menu-item>
            </el-menu>
        </el-aside>

        <el-main>
            <router-view></router-view>

        </el-main>
    </el-container>
</el-container>
