<div class="chat detail__wrapper">
    <div class="chat-top">
        <img src="/images/logo.jpg" alt="">
        <div class="chat-top-msg">
            <div>旭东红木</div>
            <div>(咨询时间：09:00 - 17:00)</div>
        </div>
    </div>
    <div class="chat-main">
        <div class="chat-main-left">
            <div v-for="(session,index) in sessionList"
                 :key="session.id"
                 :class="{'current': current.visitorId == session.visitorId}"
                 @click="changeSession(session)"
                 class="visitor-item">
                <img :src="session.avatar ? session.avatar : '/images/logo.jpg' ">
                <div class="visitor-info">
                    <div>{{ session.name ? session.name : '游客' + (index + 1) }}</div>
                    <div class="visitor-info-msg">
                        <template v-if="session.messages && session.messages.length > 0">
                            <template v-if="session.messages[session.messages.length-1].contentType == 2">
                                [图片]
                            </template>
                            <template v-else>
                                {{ session.messages[session.messages.length-1].content }}
                            </template>
                        </template>
                    </div>
                </div>
                <!--                    <div class="visitor-item-num">{{session.messages.length > 99 ? '99+' : session.messages.length}}-->
                <!--                    </div>-->
            </div>
        </div>
        <div class="chat-main-center">
            <div class="chat-history" ref="chatHistory">
                <div v-for="(message, index) in current.messages"
                     :key="index"
                     class="column"
                     :class="{'service': message.sendUserType == 1, 'custom': message.sendUserType != 1 }">
                    <template v-if="message.sendUserType == 1">
                        <div class="service-info">
                            <div class="title">客服 {{ message.gmtCreate | date('HH:mm:ss') }}</div>
                            <div class="service-msg msg img-msg" v-if="message.contentType == 2">
                                <img :src="message.content" @click="zoomImage(message.content)">
                            </div>
                            <div v-else class="service-msg msg" v-html="message.content"></div>
                        </div>
                        <img class="avatar-img" src="/images/logo.jpg">
                    </template>
                    <template v-else>
                        <img class="avatar-img" src="/images/logo.jpg">
                        <div class="custom-info">
                            <div class="title">顾客 18:00:00</div>
                            <div class="custom-msg msg img-msg" v-if="message.contentType == 2">
                                <img :src="message.content" @click="zoomImage(message.content)">
                            </div>
                            <div v-else class="custom-msg msg" v-html="message.content"></div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="chat-edit">

                <div class="chat_attachment">
                    <div class="chat_expression">
                        <img src="/images/smile.png" alt="" @click="chatExpressionToggle">
                        <div v-if="chatExpressionChoose" class="chat_expression_choose">
                            <div data-value="0">1</div>
                            <div data-value="1">2</div>
                            <div data-value="2">3</div>
                        </div>
                    </div>
                    <div class="chat_image">
                        <img src="/images/image.png" alt="" @click="chooseFile">
                        <input @change="changeFile($event)" ref="imageFile" type="file" accept=".png,.jpg,.jpeg"
                               style="display: none;">
                    </div>
                    <div class="talk_sikill">
                        <el-popover
                                popper-class="skills_popover"
                                placement="right"
                                width="300"
                                trigger="click">
                            <ul>
                                <li v-for="(talkSkill, index) in talkSkillList"
                                    :key="index"
                                    @click="chooseTalkSkill(talkSkill)">{{ talkSkill }}
                                </li>
                            </ul>
                            <i slot="reference" class="el-icon-chat-dot-round"></i>
                        </el-popover>
                    </div>
                    <div class="talk_disconect">
                        <i class="el-icon-search" @click="showSearch()"></i>
                    </div>
                    <div class="talk_disconect">
                        <i class="el-icon-close" @click="disconnect()"></i>
                    </div>

                </div>
                <div class="chat_input">
                    <div ref="chatInputArea" class="chat_input_area" contenteditable="true"></div>
                    <div class="chat_btn" @click="sendMsg">发送</div>
                </div>
            </div>
        </div>
        <div class="chat-main-right">
            <div class="service-item">
                <img src="/images/logo.jpg">
                <div class="service-info">
                    <div>客服1:xxx</div>
                    <div>服务时间</div>
                </div>
            </div>
        </div>
    </div>

    <el-dialog
            title="历史记录"
            :visible.sync="showSearchModel"
            width="60%">
        <div>
            <!--
            <el-date-picker
                    v-model="value2"
                    type="daterange"
                    align="right"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :picker-options="pickerOptions">
            </el-date-picker>
            <el-button type="primary" @click="searchData" icon="el-icon-search">搜索</el-button>
            -->
        </div>
        <div>
            <div v-for="(o,index) in searchedList" :key="o.id">
                <div class="search-chat-name">
                    <template v-if="o.sendUserType == 1">
                        {{ current.visitorName ? current.visitorName : '游客' }}
                    </template>
                    <template v-else>
                        {{ current.staffName ? current.staffName : '我' }}
                    </template>
                </div>
                <div class="search-chat-content">
                    <template v-if="o.contentType == 2">
                        <img width="16" height="16" :src="message.content">
                    </template>
                    <template v-else>
                        {{ o.content }}
                    </template>
                </div>
            </div>
        </div>
        <!--
        <el-pagination class="list__page"
                       @size-change="pageSizeChange"
                       @current-change="currentPageChange"
                       :current-page="query.pageNo"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="query.pageSize"
                       layout="prev, pager, nextr"
                       :total="this.page.recordCount">
        </el-pagination>
        -->
    </el-dialog>
    <el-dialog
            :visible.sync="imagePreviewVisible"
            width="80%"
            height="80%">
        <div class="image-preview">
            <img :src="imagePreview">
        </div>
    </el-dialog>
</div>
