<div class="chat detail__wrapper">
    <div class="chat-top">
        <img src="/images/logo.jpg" alt="">
        <div class="chat-top-msg">
            <div>旭东红木</div>
            <div>(咨询时间：09:00 - 17:00)</div>
        </div>
    </div>
    <div class="chat-main">
        <div class="chat-main-left">
            <div v-for="(session,index) in sessionList"
                 :key="session.id"
                 :class="{'current': current.visitorId == session.visitorId}"
                 @click="changeSession(session)"
                 class="visitor-item">
                <img :src="session.avatar ? session.avatar : '/images/custom.png' ">
                <div class="visitor-info">
                    <div>{{ session.otherSideName ? session.otherSideName : '游客' + (index + 1) }}</div>
                    <div class="visitor-info-msg">
                        <template v-if="session.messages && session.messages.length > 0">
                            <template v-if="session.messages[session.messages.length-1].contentType == 2">
                                [图片]
                            </template>
                            <template v-else>
                                <span v-html="session.messages[session.messages.length-1].content"></span>
                            </template>
                        </template>
                    </div>
                </div>
                <div class="visitor-item-num" v-if="session.nonReadCount">
                        {{session.nonReadCount > 99 ? '99+' : session.nonReadCount}}
                    </template>
                </div>
            </div>
        </div>
        <div class="chat-main-center">
            <div class="chat-history" ref="chatHistory">
                <template v-for="(message, index) in current.messages">
                    <div :key="index">
                        <div class="splice_line" v-if="handleSpliceLine(message, current.messages, index)">
                            <span>{{message.spliceTime}}</span>
                        </div>
                        <div class="column"
                            :class="{'service': message.sendUserType == 1, 'custom': message.sendUserType != 1 }">
                            <template v-if="message.sendUserType == 1">
                                <div class="service-info">
                                    <div class="title">我 {{ message.gmtCreate | date('HH:mm:ss') }}</div>
                                    <img v-if="message.contentType == 2" class="service-msg img-msg" :src="message.content" @click="zoomImage(message.content)">
                                    <div v-else class="service-msg msg" v-html="message.content"></div>
                                </div>
                                <img class="avatar-img" src="/images/logo.jpg">
                            </template>
                            <template v-else>
                                <img class="avatar-img" src="/images/custom.png">
                                <div class="custom-info">
                                    <div class="title">
                                        {{ current.otherSideName ? current.otherSideName : '访客' }}

                                        {{ message.gmtCreate | date('HH:mm:ss') }}
                                    </div>
                                    <img class="custom-msg img-msg" v-if="message.contentType == 2":src="message.content" @click="zoomImage(message.content)">
                                    <div v-else class="custom-msg msg" v-html="message.content"></div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
            </div>
            <div class="chat-edit">

                <div class="chat_attachment" v-show="current.id">
                    <!--<div class="chat_expression">-->
                        <!--<img src="/images/smile.png" alt="" @click="chatExpressionToggle">-->
                        <!--<div v-if="chatExpressionChoose" class="chat_expression_choose">-->
                            <!--<div data-value="0">1</div>-->
                            <!--<div data-value="1">2</div>-->
                            <!--<div data-value="2">3</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="chat_image">
                        <img src="/images/image.png" alt="" @click="chooseFile">
                        <input @change="changeFile($event)" ref="imageFile" type="file" accept=".png,.jpg,.jpeg"
                               style="display: none;">
                    </div>
                    <div class="talk_sikill">
                        <el-popover
                                popper-class="skills_popover"
                                placement="top-start"
                                width="800"
                                trigger="click">
                            <ul>
                                <li v-for="(talkSkill, index) in talkSkillList"
                                    :key="index"
                                    @click="chooseTalkSkill(talkSkill)">{{ talkSkill }}
                                </li>
                            </ul>
                            <i slot="reference" class="el-icon-chat-dot-round"></i>
                        </el-popover>
                    </div>

                    <div>
                        <el-tooltip content="历史记录" :open-delay="400" placement="top">
                        <i class="el-icon-time" @click="showHistory()"></i>
                        </el-tooltip>
                    </div>
                    <div>
                        <el-tooltip content="将当前用户加入黑名单" :open-delay="400" placement="top">
                            <i class="el-icon-delete" @click="pullBlack()"></i>
                        </el-tooltip>
                    </div>
                    <div class="talk_disconect">
                        <el-tooltip content="断开连接" :open-delay="400" placement="top">
                        <i class="el-icon-close" @click="disconnect()"></i>
                        </el-tooltip>
                    </div>

                </div>
                <div class="chat_input">
                    <div ref="chatInputArea" class="chat_input_area" contenteditable="true"></div>
                    <div class="chat_btn" @click="sendMsg">发送</div>
                </div>
            </div>
        </div>
        <div class="chat-main-right">
            <div class="service-item">
                <img src="/images/logo.jpg">
                <div class="service-info">
                    <div>客服：{{ userAgent.userName }}</div>
                    <div>服务时间 </div>

                    <div>
                        <el-popover
                                popper-class="skills_popover"
                                placement="top-start"
                                width="10"
                                trigger="hover">
                            <ul>
                                <li v-for="(o, index) in onlineStatusList" :style="{color:o.color}" :key="index"
                                    @click="changeOnlineStatus(o)">{{ o.text }}
                                </li>
                            </ul>
                            <div slot="reference" >
                                <span :style="{ color: onlineStatusColor}">
                                    {{ userAgent.onlineStatusText ? userAgent.onlineStatusText : '在线' }}
                                </span>
                            </div>
                        </el-popover>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <el-dialog class="staffchat_his_dialog"
            title="历史记录"
            :close-on-click-modal="false"
            :close-on-press-escape="false"
            :visible.sync="showHistoryDialog"
            width="60%">
        <div class="staffchat_his_search_wrapper">
            <el-date-picker
                    size="small"
                    v-model="hisQueryDate"
                    type="daterange"
                    align="left"
                    unlink-panels
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    :picker-options="hisQueryDatePickerOptions">
            </el-date-picker>
            <el-button type="primary" @click="hisSearch" icon="el-icon-search" size="small">搜索</el-button>
        </div>
        <div class="staffchat_his_data_wrapper">
            <div v-for="(o,index) in hisList" :key="o.id" class="item">
                <div class="name">
                    <template v-if="o.sendUserType == 1">
                        {{ current.visitorName ? current.visitorName : '游客' }}
                    </template>
                    <template v-else>
                        {{ current.staffName ? current.staffName : '我' }}
                    </template>

                    &nbsp;&nbsp; {{ o.gmtCreate | date('HH:mm:ss') }}
                </div>
                <div class="content">
                    <template v-if="o.contentType == 2">
                        <img width="16" height="16" :src="o.content">
                    </template>
                    <template v-else>
                        <span v-html="o.content"></span>
                    </template>
                </div>
            </div>
        </div>
        <el-pagination @size-change="hisPageSizeChange"
                       @current-change="hisCurrentPageChange"
                       :current-page="hisQuery.pageNo"
                       :page-sizes="[10, 20, 50, 100]"
                       :page-size="hisQuery.pageSize"
                       layout="prev, pager, next"
                       :total="hisPage.recordCount" >

        </el-pagination>

    </el-dialog>
    <el-dialog
            :visible.sync="imagePreviewVisible"
            width="80%"
            height="80%">
        <div class="image-preview">
            <img :src="imagePreview">
        </div>
    </el-dialog>
</div>
