/*color*/
.gray {
  color: gray;
}

.light-gray {
  color: #999;
}

.red {
  color: red;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.darkorange {
  color: #fb8d3a;
}

.blue {
  color: blue;
}

.violet {
  color: violet;
}

.white {
  color: white;
}

.firebrick {
  color: firebrick;
}

.lightskyblue {
  color: lightskyblue;
}
