//红色星号
.must {
    color: red;
    display: inline-block;
    width: 15px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
}

//定义el-input的输入框宽度
.input-60  {
    width: 60px !important;
    min-width: 60px !important;
}

.input-70  {
    width: 70px !important;
    min-width: 70px !important;
}

.input-50  {
    width: 50px !important;
    min-width: 50px !important;
}

.input-80  {
    width: 80px !important;
    min-width: 80px !important;
}

.input-100  {
    width: 100px !important;
    min-width: 100px !important;
}

.input-110  {
    width: 110px !important;
    min-width: 110px !important;
}

.input-120  {
    width: 120px !important;
    min-width: 120px !important;
}

.input-130  {
    width: 130px !important;
    min-width: 130px !important;
}

.input-140  {
    width: 140px !important;
    min-width: 140px !important;
}

.input-145  {
    width: 145px !important;
    min-width: 145px !important;
}

.input-150  {
    width: 150px !important;
    min-width: 150px !important;
}

.input-155  {
    width: 155px !important;
    min-width: 155px !important;
}

.input-160  {
    width: 160px !important;
    min-width: 160px !important;
}

.input-170  {
    width: 170px !important;
    min-width: 170px !important;
}

.input-180  {
    width: 180px !important;
    min-width: 180px !important;
}

.input-185  {
    width: 185px !important;
    min-width: 185px !important;
}

.input-190  {
    width: 190px !important;
    min-width: 190px !important;
}

.input-200  {
    width: 200px !important;
    min-width: 200px !important;
}

.input-210  {
    width: 210px !important;
    min-width: 210px !important;
}

.input-220  {
    width: 220px !important;
    min-width: 220px !important;
}

.input-230  {
    width: 230px !important;
    min-width: 230px !important;
}

.input-240  {
    width: 240px !important;
    min-width: 240px !important;
}

.input-245  {
    width: 245px !important;
    min-width: 245px !important;
}

.input-250  {
    width: 250px !important;
    min-width: 250px !important;
}

.input-260  {
    width: 260px !important;
    min-width: 260px !important;
}

.input-270  {
    width: 270px !important;
    min-width: 270px !important;
}

.input-300  {
    width: 300px !important;
    min-width: 300px !important;
}

.input-340  {
    width: 340px !important;
    min-width: 340px !important;
}

.input-350  {
    width: 350px !important;
    min-width: 350px !important;
}

.input-400  {
    width: 400px !important;
    min-width: 400px !important;
}

.input-height .el-input__inner {
    width: 200px;
    height: 29px;
    line-height: 29px;
}

.select-90{
    .el-input{
        width: 90px !important;
        min-width: 90px !important;
    }
}
.select-100{
    .el-input{
        width: 100px !important;
        min-width: 100px !important;
    }
}
.select-110{
    .el-input{
        width: 110px !important;
        min-width: 110px !important;
    }
}
.select-120{
    .el-input{
        width: 120px !important;
        min-width: 120px !important;
    }
}
.select-130{
    .el-input{
        width: 130px !important;
        min-width: 130px !important;
    }
}
.select-140{
    .el-input{
        width: 140px !important;
        min-width: 140px !important;
    }
}

.select-300{
    .el-input{
        width: 300px !important;
        min-width: 300px !important;
    }
}

.select-400{
    .el-input{
        width: 400px !important;
        min-width: 400px !important;
    }
}


////定义el-input的输入框宽度
//.input-60 .el-input__inner {
//    width: 60px;
//}
//
//.input-70 .el-input__inner {
//    width: 70px;
//}
//
//.input-50 .el-input__inner {
//    width: 50px;
//}
//
//.input-80 .el-input__inner {
//    width: 80px;
//}
//
//.input-100 .el-input__inner {
//    width: 100px;
//}
//
//.input-110 .el-input__inner {
//    width: 110px;
//}
//
//.input-120 .el-input__inner {
//    width: 120px;
//}
//
//.input-130 .el-input__inner {
//    width: 130px;
//}
//
//.input-140 .el-input__inner {
//    width: 140px;
//}
//
//.input-145 .el-input__inner {
//    width: 145px;
//}
//
//.input-150 .el-input__inner {
//    width: 150px;
//}
//
//.input-155 .el-input__inner {
//    width: 155px;
//}
//
//.input-160 .el-input__inner {
//    width: 160px;
//}
//
//.input-170 .el-input__inner {
//    width: 170px;
//}
//
//.input-180 .el-input__inner {
//    width: 180px;
//}
//
//.input-185 .el-input__inner {
//    width: 185px;
//}
//
//.input-190 .el-input__inner {
//    width: 190px;
//}
//
//.input-200 .el-input__inner {
//    width: 200px !important;
//}
//
//.input-210 .el-input__inner {
//    width: 210px;
//}
//
//.input-220 .el-input__inner {
//    width: 220px;
//}
//
//.input-230 .el-input__inner {
//    width: 230px;
//}
//
//.input-240 .el-input__inner {
//    width: 240px;
//}
//
//.input-245 .el-input__inner {
//    width: 245px;
//}
//
//.input-250 .el-input__inner {
//    width: 250px;
//}
//
//.input-260 .el-input__inner {
//    width: 260px;
//}
//
//.input-270 .el-input__inner {
//    width: 270px;
//}
//
//.input-300 .el-input__inner {
//    width: 300px;
//}
//
//.input-340 .el-input__inner {
//    width: 340px;
//}
//
//.input-350 .el-input__inner {
//    width: 350px;
//}
//
//.input-400 .el-input__inner {
//    width: 400px;
//}
//
//.input-height .el-input__inner {
//    width: 200px;
//    height: 29px;
//    line-height: 29px;
//}


