/*
*列表页的包装
*/
.search__wrapper,.list__wrapper {
    padding: 24px;
    background: #fff;
    border-radius:7px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.search__wrapper {
    margin-bottom: 15px;

    /**搜索表格*/
    table.table-search {
        th {
            padding: 10px 0 0 0;
            font-weight: normal;
            text-align: left;
            white-space: nowrap;
        }
        td {
            padding: 10px 20px 0 0;
            white-space: nowrap;
        }
        td.button-box {
            text-align: right;
            white-space: nowrap;
            .el-button {
                padding: 10px 15px
            }
        }
        .el-input__inner {
            height: 35px;
            line-height: 35px;
        }
        .el-input:not(.el-date-editor) {
            min-width: 180px;
        }
        .el-select .el-input {
            min-width: 150px;
        }
        .el-input__prefix {
            .el-input__icon {
                width: auto;
                line-height: 35px;
                margin-left: 3px;
            }
        }
        .el-input__suffix {
            .el-input__suffix-inner {
                .el-input__icon {
                    width: 18px;
                    line-height: 34px;
                }
            }
        }
        .el-date-editor--date {
            width: 115px;
            input.el-input__inner {
                width: 115px;
                padding-left: 24px;
                font-size: 12px;
            }
        }

    }
}

/*
*/
.list__wrapper {
    .list__tools{
        padding-bottom: 18px;
        border-bottom: 1px solid #ebeef5;
        .el-button {
            padding: 9px 15px
        }

        .left{
            display: inline-block;
        }
        .right{
            float:right;
            .el-form{
                .el-input{
                    margin-right: 12px;
                }
                .el-input__inner {
                    height: 34px;
                    line-height: 34px;
                }
            }
        }
        //.el-button + .el-button {
        //    margin-left: 5px;
        //}
    }

    .list__data{
        min-height: 300px;

        .el-button {
            padding: 3px 3px;
        }
    }

    .el-pagination {
        text-align: right;
        margin-top: 18px;
        //border-top: 1px solid #ebeef5;
    }
}
