#login {
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100%;
  background-image: url("/images/login_bg.png");
  .login-header {
    height: 60px;
    display: flex;
    align-items: center;
    background: #fff;
    padding: 0 48px;
    img {
      height: 36px;
      width: 36px;
      margin-right: 8px;
    }
  }
  li{
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }

  .login-box {
    position: absolute;
    width: 300px;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #dbba7e;
   .submit {
      button {
        width: 100%;
        height: 42px;
        font-size: 16px;
        background: #dbba7e;
        color: #fff;
        outline: none;
        border: 0;
      }
    }
    .more {
      text-align: right;
      span {
        margin-left: 8px;
        cursor: pointer;
      }
    }
    .other {
      display: flex;
      align-items: center;
      border-top: 1px solid #ddd;
      padding-top: 16px;
      text-align: left;
      img {
        margin: 0 8px;
        cursor: pointer;
      }
    }
  }
}